# NextJs Directories
/.next/
/out/

# Vercel
.vercel

# Production
/build

# Testing
/coverage

# React & NodeJs Directories
node_modules
dist-ssr
dist
*.local

# React & NodeJs Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Local Files
.env*.local
.env

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Typescript Dependencies
*.tsbuildinfo
next-env.d.ts

# Miscellaneous
.DS_Store
*.pem

# Package Manager Dependencies
.pnp.js
.yarn/install-state.gz

# VSCode Directories & Files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?