.collection {
  grid-template-columns: auto;
  justify-content: stretch;
  position: relative;
  align-items: start;
  overflow: hidden;
  display: grid;

  > div {
    grid-template-columns: auto;
    justify-content: stretch;
    align-items: start;
    display: grid;
    gap: 1.5rem;
  }
}

.folders {
  overflow: hidden scroll;
  height: 550px;

  > div {
    grid-template-columns: auto;
    justify-content: stretch;
    align-items: start;
    display: grid;
  }

  &::-webkit-scrollbar {
    display: none;
  }
}
