.folder {
  grid-template-columns: auto;
  justify-content: stretch;
  padding: 0.35rem 1rem;
  align-items: stretch;
  display: grid;
  gap: 0.25rem;

  &:hover > .metadata > div:first-of-type {
    > img {
      opacity: 1;
    }

    > p {
      color: #fff;
    }
  }
}

.metadata {
  justify-content: space-between;
  grid-auto-flow: column;
  align-items: center;
  display: grid;

  &:hover > div:last-of-type > img {
    opacity: 0.35;
  }

  > div:first-of-type {
    justify-content: start;
    grid-auto-flow: column;
    align-items: center;
    cursor: pointer;
    display: flex;
    gap: 0.65rem;

    > img {
      transition: opacity 300ms;
      opacity: 0.65;
      width: 20px;
    }

    > p {
      font-family: "Poppins", sans-serif;
      transition: color 300ms;
      color: #ffffffa0;
      font-weight: 300;
    }
  }

  > div:last-of-type {
    justify-content: end;
    align-items: center;
    display: flex;
    gap: 0.25rem;

    > img {
      transition: opacity 250ms;
      cursor: pointer;
      width: 20px;
      opacity: 0;

      &:hover {
        opacity: 1;
      }
    }
  }
}

.requests {
  transition: grid-template-rows 300ms;
  grid-template-rows: 0fr;
  display: grid;

  > div {
    grid-template-columns: auto;
    justify-content: stretch;
    margin-left: 1.885rem;
    align-items: center;
    overflow: hidden;
    display: grid;
    gap: 0.25rem;
  }
}

.expand {
  animation: expand 250ms ease-in-out forwards;
}

.collapse {
  animation: collapse 250ms ease-in-out forwards;
}

@keyframes expand {
  0% {
    grid-template-rows: 0fr;
  }

  100% {
    grid-template-rows: 1fr;
  }
}

@keyframes collapse {
  0% {
    grid-template-rows: 1fr;
  }

  100% {
    grid-template-rows: 0fr;
  }
}
