.logo {
  background: -webkit-linear-gradient(-60deg, #ffffff, #ffffff25);
  -webkit-text-fill-color: transparent;
  font-family: "Poppins", sans-serif;
  -webkit-background-clip: text;
  background-clip: text;
  letter-spacing: 0.5px;
  font-size: 1.65rem;
  font-weight: 500;
  color: #fff;
}
